@tailwind base;
@tailwind components;
@tailwind utilities;


#notifTitleP {
    font-size: large;
}

#notifContentP {
    font-size: medium;
}

#buttonContainer {
    display: flex;
    justify-content: flex-end;
}

#delNotifButton {
    justify-self: end;
    font-weight: bold;
    align-items: center;
    appearance: none;
    background-color: #fd3e3e;
    background-image: linear-gradient(1deg, #f52e0b, #f18572 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}